.characteristics.grid
    .header
        h1(data-i18n='characteristics')
    .grid.core
        .col
            .row.characteristics
                +brpAttributeText('strength')
                +numberInput('strength') 
                +d100RollButton('effort_roll')
                +brpCharacteristicRollValue('effort_roll')

            .row.characteristics
                +brpAttributeText('constitution')
                +numberInput('constitution') 
                +d100RollButton('stamina_roll')
                +brpCharacteristicRollValue('stamina_roll')

            .row.characteristics
                +brpAttributeText('size')
                +numberInput('size')    
                +brpDerivedText('damage modifier')                
                +brpDerivedAttribute('damage_modifier')                

            .row.characteristics
                +brpAttributeText('intelligence')
                +numberInput('intelligence')
                +d100RollButton('idea_roll')
                +brpCharacteristicRollValue('idea_roll') 

            .row.characteristics-pow
                +brpAttributeText('power')
                +numberInput('power')
                +checkboxInput('check power')
                +d100RollButton('luck_roll')
                +brpCharacteristicRollValue('luck_roll')                

            .row.characteristics
                +brpAttributeText('dexterity')
                +numberInput('dexterity')
                +d100RollButton('agility_roll')
                +brpCharacteristicRollValue('agility_roll')                   

            .row.characteristics
                +brpAttributeText('charisma')
                +numberInput('charisma')
                +d100RollButton('charm_roll')
                +brpCharacteristicRollValue('charm_roll')                     

            .row.characteristics.education
                    +brpAttributeText('education')
                    +numberInput('education')    
                    +d100RollButton('knowledge_roll')
                    +brpCharacteristicRollValue('knowledge_roll') 
