.grid.system-options
    .header
        h1(data-i18n='systemOptions')

    h2(data-i18n='skill category bonus')
    select(name='attr_skill_category_bonus_option' value='none')
      option(data-i18n='none' value='none' selected)
      option(data-i18n='standard' value='standard')
      option(data-i18n='simple' value='simple')

    .grid.body.2column.system-options-row
        each val in systemOptions
            .row.col-2(class=`${val}-option ${classNotation}`)
                .grid.2autocolumn
                    +checkboxInput(`${val} option`)
                    +boldSubheader(val)
