.hit-points.grid
    .header
        h1(data-i18n='hit points')

    .grid.core
        .col
            .row.hit_points
                    +brpPersonalText('hit_points_max')
                    +brpCharacteristicRollValue('hit_points_max')

            .row.hit_points
                    +brpPersonalText('hit_points_current')
                    +numberInput('hit_points_current')            