div.sheet-attributes {

  div.sheet-core {
    grid-auto-flow: column;
    grid-column-gap: 2%;

    div.sheet-two_fields {
      grid-template-columns: 90px 210px 90px 210px;
      grid-column-gap: 2%;
    }      

    div.sheet-one_field {
      grid-template-columns: 90px 210px;
      grid-column-gap: 2%;
    }

    div.sheet-three_fields {
      grid-template-columns: 75px 90px 75px 120px 75px 120px;
      grid-column-gap: 2%;
    }

    div.sheet-crew_and_cargo {
      grid-template-columns: 1fr 1fr;    
    }    
  }

}
