.attributes.grid
    .header
        h1(data-i18n='vehicle')
    
    .grid.core
        .col
            .row.two_fields
                +brpPersonalText('vehicle type')    
                +textInput('vehicle type')
                +brpPersonalText('vehicle name')        
                +textInput('vehicle name') 
            .row.one_field
                +brpPersonalText('vehicle owner or sponsor')    
                +textInput('vehicle owner or sponsor')
            .row.three_fields
                +brpPersonalText('vehicle year')    
                +textInput('vehicle year')
                +brpPersonalText('vehicle make')    
                +textInput('vehicle make')
                +brpPersonalText('vehicle model')    
                +textInput('vehicle model')
            .row.two_fields
                +brpPersonalText('vehicle skill')    
                +textInput('vehicle skill')
                +brpPersonalText('vehicle move')    
                +numberInput('vehicle move')                
            .row.two_fields
                +brpPersonalText('vehicle rated speed')    
                +textInput('vehicle rated speed')
                +brpPersonalText('vehicle acceleration')        
                +textInput('vehicle acceleration')             
            .row.two_fields
                +brpPersonalText('vehicle size')    
                +numberInput('vehicle size')
                +brpPersonalText('vehicle crew')    
                +numberInput('vehicle crew')
            .row.two_fields 
                +brpPersonalText('vehicle cargo')    
                +textInput('vehicle cargo')
                +brpPersonalText('vehicle handling')    
                +textInput('vehicle handling')     
            .row.two_fields 
                +brpPersonalText('vehicle passengers')    
                +numberInput('vehicle passengers')
                +brpPersonalText('vehicle value')    
                +numberInput('vehicle value')     
            .row.crew_and_cargo
                .col
                    +brpPersonalText('vehicle crew list')  
                    textarea(data-i18n-placeholder='vehicle crew list' name='attr_crew_list')                
                .col
                    +brpPersonalText('vehicle cargo manifest')                  
                    textarea(data-i18n-placeholder='vehicle cargo manifest' name='attr_cargo_manifest')                

