.weapons.grid
    .header
        h1(data-i18n='weapons')     
    .grid.core
        .col
            .row.weapons-title
                +brpPersonalText('')
                +brpPersonalText('weapon type')
                +brpPersonalText('percentage')
                +brpPersonalText('damage')
                +brpPersonalText('range')                
                +brpPersonalText('attacks')                
                +brpPersonalText('length')                
                +brpPersonalText('hand')                
                +brpPersonalText('hp') 
                +brpPersonalText('')           

            .row.weapons-fist-and-grapple
                +checkboxInput(`brawl check`)
                +readonlyStringValueTranslate('brawl')
                +numberInput('brawl')
                +textInput('brawl damage')
                +readonlyStringValueTranslate('touch')
                +integerValueWithDefault('attacks','1')
                +readonlyStringValueTranslate('close')
                +readonlyStringValueTranslate('1h')
                +numberInput('brawl hp')   
                +d100RollButtonWithoutCaption('brawl') 
                +damageRollButton('brawl', 'brawl damage', 'brawl critical')
                +readonlyStringValue('brawl critical')

            .row.weapons-fist-and-grapple
                +checkboxInput(`grapple check`)
                +readonlyStringValueTranslate('grapple')
                +numberInput('grapple')
                +textInput('grapple damage')
                +readonlyStringValue('touch')
                +integerValueWithDefault('attacks','1')
                +readonlyStringValueTranslate('close')
                +readonlyStringValueTranslate('2h')
                +numberInput('grapple hp')   
                +d100RollButtonWithoutCaption('grapple') 
                +damageRollButton('grapple', 'grapple damage', 'grapple critical')
                +readonlyStringValue('grapple critical')


            .repeating-container
                fieldset(class='repeating_weapons')
                    .row
                        +checkboxInput(`check`)
                        +textInput('name')
                        +numberInput('skill')
                        +textInput('damage')
                        +textInput('range')
                        +numberInput('attacks')
                        +numberInput('length')
                        +textInput('hand')
                        +numberInput('hp')                        
                        +repeatingd100RollButton('skill')  
                
                
