.character.grid

  .grid.mainheader
    .col.img
      img.logo.character(alt="Basic Roleplaying Character Sheet" src=`${brpImageSource}`)
    .col.maintitle
      h1.uppercase(data-i18n='basic roleplaying')

  .grid.character-attributes
    .col.grid
      include components/personal             
    .col.grid
      include components/characteristics             
    .col.gold-left-border
      include components/hit-points
      include components/power-points

  .row.character-skills
    include components/skills

  .row.weapons
    .col.grid 
      include components/weapons 

  .row.hit-locations      
    .col.grid
      include components/hit-locations  

  .row.character-body
    .col.grid
      include components/personality-traits
      
      include components/passions
      
  .row.grid.mb
    include components/equipment
    