
.npc.grid

  .grid.npc-attributes
    .col.grid
      .name
        +textInput('character name')
      .row
        textarea(data-i18n-placeholder='description' name='attr_description')
      .grid.characteristics.2column
          .grid.characteristic-row
            +brpAttributeText('strength')
            +numberInput('strength')
            +d100RollButton('effort_roll')
          .grid.characteristic-row
            +brpAttributeText('constitution')
            +numberInput('constitution')
            +d100RollButton('stamina_roll')
      .grid.characteristics.2column
          .grid.characteristic-row
            +brpAttributeText('size')
            +numberInput('size')
          .grid.characteristic-row
            +brpAttributeText('intelligence')
            +numberInput('intelligence')
            +d100RollButton('idea_roll')     
      .grid.characteristics.2column
          .grid.characteristic-row
            +brpAttributeText('power')
            +numberInput('power')
            +d100RollButton('luck_roll')
          .grid.characteristic-row
            +brpAttributeText('dexterity')
            +numberInput('dexterity')
            +d100RollButton('agility_roll')
      .grid.characteristics.2column
          .grid.characteristic-row
            +brpAttributeText('charisma')
            +numberInput('charisma')
            +d100RollButton('charm_roll')
          .grid.characteristic-row
            +brpAttributeText('education')
            +numberInput('education')
            +d100RollButton('knowledge_roll')                               

      .grid.stats.4column
        .grid.move
          h2.capitalize(data-i18n='move')
          +numberInput('move')
          +textInput('move description')
       
    .col.gold-left-border
      include components/hit-points
      include components/power-points

  .row.weapons
    .col.grid 
      include components/weapons 

  .grid.npc-skills-and-powers
    .col.grid
        .grid.row.skills
          .header
            h1(data-i18n='skills')          
          
          .row.skill-title
              +brpPersonalText('skill')
              +brpPersonalText('percentage')
              +brpPersonalText('description') 

          .row.skill-fixed
              +d100RollButton('dodge')
              +numberInput('dodge')

          .row.skill-fixed
              +d100RollButton('projection')
              +numberInput('projection')

          .repeating-container
              fieldset(class='repeating_skills')
                .row
                  +textInput('name')
                  +numberInput('skill')
                  +textInput('description')
                  +repeatingd100RollButton('skill')                  
    .col.grid
      .grid.row.powers
        .header
          h1(data-i18n='powers')     

        .repeating-container
            fieldset(class='repeating_powers')
              .row
                +textInput('name')
                +numberInput('power')
                +textInput('description')
                +repeatingd100RollButton('power')   

  .grid.npc-passions-and-abilities
    .col.grid
      .grid.row.passions
        .header
          h1(data-i18n='passions')     

        .repeating-container
            fieldset(class='repeating_passions')
              .row
                +textInput('name')
                +numberInput('passion')
                +textInput('description')
                +repeatingd100RollButton('passion')                                  
    .col.grid
      .grid.row.abilities
        .header
          h1(data-i18n='abilities')     
        
        .repeating-container
            fieldset(class='repeating_abilities')
              .row
                +textInput('name')
              .row
                textarea(data-i18n-placeholder='description' name='attr_description')