.vehicle.grid

  .grid.mainheader
    .col.img
      img.logo.character(alt="Basic Roleplaying Character Sheet" src=`${brpImageSource}`)
    .col.maintitle
      h1.uppercase(data-i18n='basic roleplaying')

  .grid.attributes-and-hit-points
    .col.grid
      include components/vehicle-attributes      

    .col.grid
      include components/vehicle-hit-points      
  