- const personalityTraits = {'chaste':'lustful', 'energetic':'lazy', 'forgiving':'vengeful','generous':'selfish','honest':'deceitful','just':'arbitrary','merciful':'cruel','modest':'proud','prudent':'reckless','spiritual':'worldly','temperate':'indulgent','trusting':'suspicious','valorous':'cowardly'};
- const christianTraits = ['chaste','forgiving','merciful', 'modest','spiritual','temperate']
- const paganTraits = ['energetic','lustful','generous','honest','proud','spiritual']
- const characteristics = ['size', 'dex', 'str', 'con', 'app'];
- const skills = ['awareness', 'chirurgery', 'compose', 'courtesy', 'dancing',  'falconry', 'fashion', 'first aid', 'flirting', 'folklore', 'gaming',  'hunting',  'intrigue', 'literacy', 'orate', 'play', 'recognize', 'religion', 'sing', 'stewardship'];
- const gmCharacters = ['name', 'glory', 'app',  'courtesy', 'flirting', 'intrigue', 'chaste', 'modest', 'temperate'];
- const skillsCommunication = ['bargain', 'command', 'disguise', 'etiquette', 'language', 'perform', 'persuade', 'status', 'teach'];
- const skillsManipulation = ['art', 'craft', 'demolition', 'fine manipulation', 'heavy machine', 'repair', 'sleight of hand'];
- const skillsMental = ['appraise', 'first aid', 'gaming', 'knowledge', 'literacy', 'medicine', 'psychology', 'science', 'strategy', 'technical'];
- const skillsPerception = ['insight', 'listen', 'navigate', 'research', 'sense', 'spot', 'track'];
- const skillsPhysical = ['climb', 'drive', 'fly', 'hide', 'jump', 'pilot', 'projection', 'ride', 'stealth', 'swim', 'throw'];
- const skillsCombat = ['dodge', 'martial arts'];
- const skillCategories = ['communication', 'manipulation', 'mental', 'perception', 'physical', 'combat'];

- const brpCharacteristics = ['str', 'con', 'siz', 'int', 'pow', 'dex', 'cha', 'edu'];
- const brpCharacteristicRolls = {'strength':'effort roll', 'constitution':'stamina roll', 'size':'damage modifier', 'intelligence':'idea roll', 'power':'luck roll', 'dexterity':'agility roll', 'charisma':'charm roll', 'education':'knowledge roll'};

- const systemOptions=['education', 'fatigue', 'sanity', 'hit points per hit location', 'major wounds', 'total hit points'];

- const brpImageSource = 'https://www.chaosium.com/content/ExternalImages/logos/brplogo.png'

